#cv-flex-container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-between;
}

#cv-wrapper {
    position: relative;
    max-height: 20em;
    max-width: 15em;
    overflow: hidden;
}

#cv-side-text {
    width: 55%;
}


#cv-wrapper img {
    max-height: 20em;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}


.cv-caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35em;
    width: 100%;
    transition: all 0.5s;
    font-size: 0.6em;
}
.cv-caption > a {
    text-decoration: none;
    color: #e14072;
    background-color: #FEFFFF;
    padding: 0.6em;
    transition: all 0.5s;
}

i {
  /*border: solid black;*/
  /*border-width: 0 3px 3px 0;*/
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#cv-wrapper:hover {
    cursor: pointer;
}

#cv-wrapper:hover .img-overlay {
    background-color: #13134f70;
}

#cv-wrapper:hover .cv-caption {
    top: 20%;
}

.cv-caption > a:hover {
    background-color: #e14072;
    color: #FEFFFF;
}

