<p style="line-height: 2em">
    Hello! Nice to see you here. My&nbsp;name&nbsp;is<br>
    <text class="large-text" style="line-height: 2em">Daniel Varoli</text>
</p>

<p>
    I am a reasearcher at the Department of Biomedical Engineering at Boston Universiy.
    Currently, I am actively working on exciting and innovative projects in fields including
    <br><br>
    <text class="large-text">Biotech</text><br>
    <text class="large-text">Machine&nbsp;Learning</text><br>
    <text class="large-text">Health</text><br>
    <text class="large-text">Teaching</text><br>
    <text class="large-text">Music</text>
</p>
