<div class="projects">
    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">Arduino Robots</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/arduino.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Developed Arduino-driven robots for tasks such as lane-following, obstacle detection and obstacle evasion</li>
                <li>Used storebought components and manually assembled robots</li>
                <li>Manually soldered most electronic components</li>
            </ul>
        </div>
    </div>



    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">AWS Mars Rover Challenge</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/mars_rover.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Currently developing Deep RL model using AWS RoboMaker and TensorFlow</li>
                <li>Goal of challenge for the Mars Rover to navigate the simulated Martian terrain</li>
            </ul>
        </div>
    </div>

    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">OpenAI Gym</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/gym.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Upcoming Project!</li>
                <li>I will be testing custom Reinforcement Learning (RL) algorithm in the openAI gym environment</li>
                <li>Ultimate goal to combine succesful algorithms with arduino powered robots to build real-life robots capable of learning how to navigate an environment</li>
            </ul>
        </div>
    </div>

    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">Kaggle ML Challenges</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/ml.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Finished in top 10th percentile in Kagge AirBnB rental price prediction challenge</li>
                <li>Used 3 seperate ML approaches to predict price, including a Multi-layer Neural Network and a custom designed KNN algorith with neighbor weighting</li>
                <li>Currently participating in Computer Vision challenge</li>
            </ul>
        </div>
    </div>

    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">Activity Visualizer WebApp</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/mouse.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Developing Python web-app enabling users to monitor the performance of a test-animal to ensure animal health and best learning performance</li>
                <li>Ensuring easy-to-use intuitive interface with easy access to all critical statistics</li>
                <li>Hosting and maintaining of the web-app via Heroku</li>
            </ul>
        </div>
    </div>

    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">Program for tracking CD4 Cells</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/t-cell.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Developed of a Python-based program to automate the process of detection and classification of CD4 T-cells for LadHyX (Ècole Polytechnique)</li>
                <li>Reduced analysis time by over 95% as compared to manual analysis</li>
                <li>Maintained accuracy of over 95% when compared to human accuracy</li>
            </ul>
        </div>
    </div>

    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">Chord and Scale Generator</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/music.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Upcoming Project!</li>
                <li>For this project I will be building a web-app to generate musical chords and scales based on the notes
                    inputted by the user!</li>
                <li>The goal of this project is to simplify the process of learning scales and chords and helping musicians,
                    quickly identify the needed information for song-writing.</li>
            </ul>
        </div>
    </div>

    <div class="project-card-wrapper">
        <div class="project-card-overlay"></div>
        <div class="project-title">Custom Built Medical Exoskeletons and Prosthethics</div>
        <div class='image' style="background-image: url({{url_for('static', filename='img/prost-4.jpeg')}})"></div>
        <div class="project-description">
            <ul>
                <li>Upcoming Project!</li>
                <li>One of my biggest goals in life is to bring about breakthrough in the field of medical prosthethics and exoskeletons. However, every paradigm shift must start
                somewhere and in my case I will start by building small, home-made devices to assist with limb motion.</li>
                <li>Ultimately, I aim to to make prosthetics capable of mimicing a real hand or leg or any other limb accessible to all those who need them.</li>
            </ul>
        </div>
    </div>

</div>