{% extends 'bootstrap/base.html' %}

{% block title %}
    Daniel Varoli
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery-ui/jquery-ui.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/project_card.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cv.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form_submit_success.css')}}">
{% endblock %}

{% block content %}
        {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/window_load.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timing/jquery-timing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/text_animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}